*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/deviceStreaming.xml
/.idea/caches/gradle_models.ser
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/app/release/LFRFID_20191115_test1.apk
/app/release/LFRFID_20210512_sd_test7.apk
/app/release/LFRFID_20210607_sd_test1.apk
/app/release/LFRFID_20210607_sd_test2.apk
/app/release/LFRFID_20210607_sd_test3.apk
/app/release/LFRFID_20210608_sd_test1.apk
/app/release/LFRFID_20220106_kt_test1.apk
/app/release/LFRFID_20220106_kt_test2.apk
/app/release/LFRFID_20220107_kt_1.2.apk
/app/release/LFRFID_20220107_sd_1.2.apk
/app/release/LFRFID_20221107_kt50-6762_1.3.apk
/app/release/LFRFID_20230522_kt50-6762_1.3.apk
/app/release/LFRFID_20241216_GT100-PD_1.4.apk
/app/release/output.json
